.total{
    display: flex;
    /* flex-direction: column; */
}

.card{
    min-width: 50%;
    text-align: center;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    border-color: white;
}

.card-header{
    margin-top: 220px;
    border-color: white;
}

.halfClass{
    max-width: 50%;
    min-width: 50%;
    max-height: 790px;
    min-height: 790px;
    background-color: #28364d;
    border-top-right-radius: 100px;
    text-align: center;
    /* position: fixed; */
}

.card-header{
    background-color: white;
}

.videoClass{
    margin-top: 180px;
    align-content: center;
    float: left;
    margin-left: 100px;
    border-radius: 30px;
    max-height: 300px;
    min-height: 300px;
    min-width: 500px;
    max-width: 500px;
}

.imgLogo{
    margin-top: 15px;
    min-width: 120px;
    min-height: 30px;
    max-width: 120px;
    max-height: 30px;
    margin-left: 40px;
}


.userName{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.credentialHolder{
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 20px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 0px 7px 2px black;
    text-align: center;
}

.btn-secondary{
    border-radius: 10px;
    min-width: 220px;
}

.card-body{
    margin-top: 200px;
}
