<p>view-another-profile works!</p>
<div style="margin-top: 50px; display: flex; flex-direction: column;text-align: center; align-content: center;">
    <div class="card">
        <div class="card-header" style="max-width: 90%; min-width: 90%; margin-left: 60px;">
            {{heroProfile}}
        </div>
        <div class="card-body">
            <div *ngFor="let mves of displayMovies">
                {{mves.movieName}}
            </div>
            <div>
                Hello..!!
            </div>
            <div>
                hello..!!
            </div>
        </div>
    </div>
</div>